<div class="ctn-medico">
  <div class="container">
    <h1 class="first-title">MÉDICO</h1>
    <div class="row ctn-itext">
      <div class="col-sm-12 col-md-3">
        <img class="img-fluid" src="assets/images/imagen-doctor-virtual-medico-1.png" alt="medico">
      </div>
      <div class="col-sm-12 col-md-9">
        <h5>Médicos Generales en Línea</h5>
        <p>Sentirse indispuesto o contraer una enfermedad es muy inconveniente, es por eso que en Doctor Virtual nos hemos  asociado con los mejores médicos del país  para ofrecer atención virtual las 24 horas del día, los 7 días a la semana.  Solicita asistencia a un médico en cualquier momento, en cualquier lugar por teléfono o en línea.</p>
        <p>La manera más fácil y segura de obtener un diagnóstico médico sin ir a un consultorio, es visitar a un médico en línea.</p>
        <p>Nuestros Especialistas realizarán un exámen médico completo en cada visita y mantendrán tu historial medico al día en un lugar seguro.</p>
      </div>
    </div>
    <div class="row ctn-itext">
      <div class="col-sm-12 col-md-9">
        <h5>Atención para tus hijos</h5>
        <p>Los niños se enferman frecuentemente debido a que su sistema inmunológico esta en formación. A medida que desarrollan anticuerpos, estas enfermedades se van haciendo menos frecuentes.</p>
        <p>Si estás llamando por un dependiente, uno de nuestros especialistas en línea evaluará su condición inmediatamente.  En un gran porcentaje de casos, el especialista podrá tratar a tu hijo en casa, de forma remota por teléfono o en línea. De ser necesario con medicamentos.</p>
        <p>Mantén a los niños alejados de gérmenes y bacterias que comúnmente se encuentran en la sala de espera, trátalos con Doctor Virtual.</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <img class="img-fluid" src="assets/images/imagen-doctor-virtual-2.png" alt="medico">
      </div>
    </div>
    <div class="row ctn-itext">
      <div class="col-sm-12 col-md-3">
        <img class="img-fluid" src="assets/images/imagen-doctor-virtual-3.png" alt="medico">
      </div>
      <div class="col-sm-12 col-md-9">
        <h5>Tratamiento de las Condiciones Comunes</h5>
        <p>Podrás utilizar una asistencia virtual para tratar enfermedades menores como resfriados y gripe, infecciones de oído, erupciones cutáneas, dolor de garganta, dolores de cabeza, alergias y más. Cuando sea apropiado, se enviará una receta a la farmacia de tu elección.</p>
        <h5>Condiciones más frecuentes que tratamos en Doctor Virtual</h5>
        <ul>
          <li>Gripes y Catarros</li>
          <li>Infecciones: de garganta, de ojos, oído, urinarias, estomacales</li>
          <li>Vómitos</li>
          <li>Dolores estomacales</li>
          <li>Lesiones Deportivas</li>
          <li>Enfermedades infantiles comunes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
