<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!--Import materialize.css-->
    	<link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
    	<link type="text/css" rel="stylesheet" href="../../css/materialize.css"  media="screen,projection"/>
    	<link rel="stylesheet" type="text/css" href="../../css/style.css">
    	<!--Let browser know website is optimized for mobile-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <!-- Menu -->
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img class="logotipologin" src="../../images/logotipo-tvquetzachapin.png" alt="logo">
                </a>
                <a href="#" class="regresotutorial">
                    <i class="material-icons">chevron_left</i>
                </a>
            </div>
        </nav>

        <h2 class="white-text center-align iniciarlogin">Registrarse</h2>

        <div class="col s12 m3">
            <div class="row">
                <form method="post">
                    <div class="row">
                        <div class="col s2 icono">
                            <i class="small iconopersona material-icons">insert_emoticon</i>
                        </div> 
                        <div class="col s10 inputlogin">
                            <input class="dentroinput" type="text" placeholder="Nombre y Apellido">
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col s2 icono">
                            <i class="small iconopersona material-icons">account_circle</i>
                        </div> 
                        <div class="col s10 inputlogin">
                            <input class="dentroinput" type="text" placeholder="tvquetzachapin@example.com">
                        </div>    
                    </div>


                    <div class="row">
                         <div class="col s2 icono">
                            <i class="small iconopersona material-icons">vpn_key</i>
                        </div> 
                        <div class="col s10 inputlogin">
                            <input class="dentroinput" type="text" placeholder="Contrase&#241a">
                        </div>
                    </div>

                    <div class="row center-align">
                        <button type='submit' name='btn_login' class='botonregistrarselogin btn waves-effect indigo'>Registrarse</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="center-align">
            <p class="white-text privcidad">Al utilizar nuestra App aceptas <br> nuestras politicas de privacidad</p>
        </div>

    	<script type="text/javascript" src="../../js/jquery-3.2.1.js"></script>
    	<script type="text/javascript" src="../../js/materialize.js"></script>
    	<script type="text/javascript" src="../../js/materialize.min.js"></script>
    	<script type="text/javascript" src="../../js/app.js"></script>
    </body>
  </html>