<div class="ctn-funciona">
  <div class="container">
    <h1 class="first-title">Cómo funciona</h1>
    <div class="row ctn-itext text-center">
      <div class="col-sm-12 ctn-como-t">
        <h1 class="text-center como-title">Todo en tres simples pasos</h1>
        <h5 class="text-center">Obtén asistencia médica inmediata.</h5>
      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="text-center step">Paso 1</h5>
        <img class="img-fluid" src="assets/images/paso-1.jpg" alt="">
        <h5 class="text-center m">Registrate.</h5>
        <p>*Elije uno de nuestros planes.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="text-center step">Paso 2</h5>
        <img class="img-fluid" src="assets/images/pasos-3-modi.jpg" alt="">
        <h5 class="text-center m">Ingresa a tu correo electrónico.</h5>
        <p>**En tu correo electrónico encontraras las instrucciones para recibir asistencia médica.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="text-center step">Paso 3</h5>
        <img class="img-fluid" src="assets/images/paso-2.jpg" alt="">
        <h5 class="text-center m">Llama al número oficial.</h5>
        <p>***Puedes realizar tus solicitudes médicas solamente si estas registrado en nuestra plataforma.</p>
      </div>
      <div class="col-sm-12">
        <p><a href="#">Ver Planes</a></p>
      </div>
    </div>
  </div>
</div>
