<div class="ctn-acerca">
  <div class="container">
    <h1 class="first-title">ACERCA DE NOSOTROS</h1>
    <div class="row ctn-itext">
      <div class="col-sm-12 col-md-3">
        <img class="img-fluid" src="assets/images/imagen-doctor-virtual-nosotros.png" alt="medico">
      </div>
      <div class="col-sm-12 col-md-9">
        <h5>Nuestra Visión</h5>
        <p>Ofrecerle a nuestros pacientes acceso rápido, fácil y económico, con  los mejores especialistas en el país. Que nuestros pacientes tengan acceso a visitas telefónicas con nuestros doctores en línea en su smart phone o computadoras a cualquier hora del día.</p>
        <p>Contar con especialistas Certificados que pueden tratar cualquier problema médico,  proporcionando un diagnóstico y tratamiento para una amplia gama de problemas de salud.</p>
        <p>Trabajar continuamente para contar con la tecnología más avanzada y un cuerpo de especialistas altamente capacitado.</p>
        <h5>Filosofía</h5>
        <p>Todos nuestros proveedores son cuidadosamente seleccionados y entrenados para darle a nuestros pacientes un diagnóstico remoto haciendo uso de medios tecnológicos de comunicación.</p>
        <p>Creemos que la salud debe estar al alcance de todas las personas, es por eso que nuestra filosofía está basada en las siguientes premisas:</p>
        <ul>
          <li>Brindar un trato humano y personalizado a todos y cada uno de nuestros pacientes</li>
          <li>Actuar con empatía, comprensión y atención hacia todos nuestros pacientes.</li>
          <li>Tratar a nuestros pacientes, y a su familia con dignidad y sensibilidad, valorando siempre su privacidad.</li>
          <li>Esforzarnos cada día para superar lo ordinario a través de nuestro trabajo.</li>
          <li>Asumir la responsabilidad de nuestras acciones para darle a cada uno de nuestros pacientes un servicio Superior.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
